@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  @extend %container;
  display: flex;
  flex-direction: column;

  p {
    margin: 5px;
  }

  a {
    &:hover {
      color: darken($color-accent, 20);
    }
  }
}