@import "../../../styles/variables";

.btn {
  outline: none;
  cursor: pointer;
  border: 1px solid $color-accent;
  background-color: $color-accent;
  color: $color-text-secondary;
  font-size: 18px;
  text-transform: uppercase;
  padding: 6px 10px;
  min-height: 40px;
  transition: .2s;
  
  &:hover {
    background-color: darken($color-accent, 10);
  }

  &:disabled {
    opacity: .7;
    background-color: $color-accent;
    color: $color-text-secondary;
  }
}