@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  @extend %container;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 50px);

  .weatherForm {
    margin-bottom: 50px;

    input, button {
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 480px) {
      input {
        max-width: 200px;
      }
    }
  }

  .weatherWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .weatherCity {
      display: flex;
      justify-content: center;
    }

    .weatherData {
      width: 100%;

      ul, .mapWrapper {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
      }

      ul > li {
        display: flex;
        align-items: center;
        padding: 8px;

        &:nth-child(2n+1) {
          background: rgba(darken(#fff, 10), 0.5);
        }

        & h4 {
          margin: 0;
        }
      }

      .dataTitle {
      }

      .dataValue {
        margin: 0 0 0 auto;
        min-width: 150px;
        text-align: center;
      }
    }
  }
}


