.wrapper {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  height: 3px;
  overflow: hidden;
  margin: auto;
}

.loadingProgress {
  background-color: rgb(255, 255, 255);
  margin-top: 0;
  margin-left: 0;
  animation-name: bounce_loadingProgress;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 400px;
  height: 3px;
}

@keyframes bounce_loadingProgress {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 100%;
  }
}
