@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  position: fixed;
  height: $header-h;
  top: 0;
  left: 0;
  right: 0;
  background: $color-accent;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);

  .container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
  }

  .logo {
    img {
      height: 40px;
    }
  }

  .navbar {
    a {
      position: relative;
      color: $color-text-secondary;
      margin-right: 10px;
      font-size: 18px;

      &:last-child {
        margin-right: 0;
      }

      &:after {
        position: absolute;
        content: '';
        bottom: -2px;
        left: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: $color-text-secondary;
        border-radius: 3px;
        transform: scale(0);
        transform-origin: center;
        transition: .2s;
      }

      &:hover:after {
        transform: scale(1);
      }
    }
  }
}
